@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');


@media (min-width: 901px){
    .carousel-text {
        font-size: 12px;
    }

    .carousel-title{
        font-size: 14px;
        font-weight: bold;
    }

    .btn-carousel{
        font-size: x-small;
    }

    nav{
        margin: 0 80px;
    }

}

@media (min-width: 769px) and (max-width: 900px){
    .carousel-text {
        font-size: 12px;
    }

    .carousel-title{
        font-size: 14px;
        font-weight: bold;
    }

    .btn-carousel{
        font-size: x-small;
    }
    
    .content-item{
        top: 5%!important;
    }
}



@media (min-width: 576px) and (max-width: 768px) {
    .card2{
        border-right: none!important;
    }

    .card3{
        border-right: 1.5px solid rgb(216, 214, 214);
    }

    .card4{
        border-right: none!important;
        border-bottom: 1.5px solid rgb(216, 214, 214);
    }

    .pics3, .pics4 {
        display: none;
    }

    .carousel-text {
        font-size: 10px;
    }

    .carousel-title{
        font-size: 14px;
        font-weight: bold;
    }

    .btn-carousel{
        font-size: x-small;
    }

    .content-item{
        top: 15%!important;
    }

}

@media (max-width: 575px){
    .card1, .card2, .card4, .card5{
        border-right: none!important;
    }

    .card4, .card5, .card6{
        border-bottom: 1.5px solid rgb(216, 214, 214);
    }

    .pics3, .pics4, .pics2 {
        display: none;
    }

    .carousel-text {
        font-size: 10px;
        margin: auto;
    }

    .carousel-title{
        font-size: 12px;
    }

    .btn-carousel{
        font-size: x-small;
    }

    .content-item{
        top: 5%!important;
    }

    body{
        margin: 0 15px;
    } 

}

*{
    font-family: 'EB Garamond';
}

html{
    scroll-behavior: smooth;
}





p{
    text-align: justify;
    font-size: 1.2rem;
}


img {
    min-height: 100%;
}

.links {
    border-radius: 50%;
}

.links:hover{
    background-color: rgb(54, 54, 54);
}

.card1, .card2{
    border-bottom: 1.5px solid rgb(216, 214, 214);
    border-right: 1.5px solid rgb(216, 214, 214);
}

.card3{
    border-bottom: 1.5px solid rgb(216, 214, 214);
}

.card4, .card5{
    border-right: 1.5px solid rgb(216, 214, 214);
}

.carousel-block{
    position: relative;
}

.carousel-block:hover .actions-wrapper{
  display: block;
}

.actions-wrapper{
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
    display: none;
    z-index: 99;
}

.actions-wrapper.left{
    left: 0;
    top: 40%;
}

.actions-wrapper.right{
    right: 0;
    top: 40%;
}

.content-wrapper{
    position: relative;
}

.content-wrapper:hover .content-item{
    display: block;
}

.content-wrapper:hover .content-img{
    opacity: 90%;
}


.content-item{
    position: absolute;
    top: 25%;
    display: none;
    width: 100%;
    height: 100%;
}