@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

@media (min-width: 576px) and (max-width: 768px) {
    p {
        font-size: 11px;
    }

    h2 {
        font-size: 24px;
    }

    .card2{
        border-right: none!important;
    }

    .card3{
        border-right: 1.5px solid rgb(216, 214, 214);
    }

    .card4{
        border-right: none!important;
        border-bottom: 1.5px solid rgb(216, 214, 214);
    }

    .pics3, .pics4 {
        display: none;
    }
}

@media (max-width: 575px){
    .card1, .card2, .card4, .card5{
        border-right: none!important;
    }

    .card4, .card5, .card6{
        border-bottom: 1.5px solid rgb(216, 214, 214);
    }

    .pics3, .pics4, .pics2 {
        display: none;
    }

}




*{
    font-family: 'EB Garamond';
  
}

body {
    margin: 0 100px;
}


.m-20 {
    margin: 0 50px;
}

p{
    text-align: justify;
    font-size: 1rem;
}


img {
    min-height: 100%;
}

.links {
    border-radius: 50%;
}

.links:hover{
    background-color: rgb(54, 54, 54);
}

.card1, .card2{
    border-bottom: 1.5px solid rgb(216, 214, 214);
    border-right: 1.5px solid rgb(216, 214, 214);
}

.card3{
    border-bottom: 1.5px solid rgb(216, 214, 214);
}

.card4, .card5{
    border-right: 1.5px solid rgb(216, 214, 214);
}