@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

*{
    font-family: 'EB Garamond';
}

p{
    text-align: justify;
    font-size: 1rem;
}

img {
    min-height: 100%;
}